<div class="container">

    <form #f="ngForm" (ngSubmit)="saveContato(f.value)">
        <input type="text" ngModel name="nome" placeholder="Informe nome" #n="ngModel" required />
        <div *ngIf="n.invalid">
            <div *ngIf="n.errors?.['required']">
                Nome deve ser informado
            </div>
            <div *ngIf="n.errors?.['minlength']">
                Nome deve conter pelo menos 3 caracteres
            </div>
            <div *ngIf="n.errors?.['maxlength']">
                Nome longo demais
            </div>
        </div>

        <input type="number" ngModel name="idade" #i="ngModel" placeholder="Informe a idade" required />

        <div *ngIf="i.value <= 17">
            Nome deve ser informado
        </div>

        <input type="email" ngModel name="email" placeholder="Informe o email" />
        <input type="password" pattern="(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$*&@#])[0-9a-zA-Z$*&@#]{8,}$/
        )" />

        <button [disabled]="f.invalid">Salvar</button>

        <label>{{msg}}</label>
        <label>{{f.valid}}</label>
    </form>


</div>